# Dados grandes
*.mat
Projeto_BCI/

# Arquivos temporários
*.swp
*.tmp

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Pacotes wheel
*.whlProjeto_BCI/*.mat
*.mat 
*.whl
.ipynb_checkpoints/
__pycache__/


